:root {
    --text-main: #212121;
    --bg-pink: #ffc0cb;
    --bg-hover: #f3d7ca;
    --nav-hover: #f1aedb;
    --border-hotpink: #ff69b4;

    --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


    --font-heading: 'Merriweather', cursive;

}


* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-default);
    font-size: 14px;
    color: var(--text-main);
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
}

header {

    text-align: center;
    font-size: 20px;
    background-image: url("https://media.istockphoto.com/id/1064140298/vector/pale-pink-stripes-seamless-pattern.jpg?s=612x612&w=0&k=20&c=q2Rc4z4lYGHMpIQTOI4ZiawaijPS8JE166REQ9h679U=");

}

header p.lead {
    font-size: xx-large;
    font-family: var(--font-heading);

    width: auto;
    margin: auto
}

header p.sub {
    opacity: 0.33;
    margin-bottom: 0;
}

nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--bg-pink);
}

nav a:hover {
    background-color: var(--nav-hover);
    color: black;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pictures {
    display: flex;
    flex-direction: row;

}

img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;

    transition: transform .2s;

}

img:hover {
    transform: scale(1.1);
}


body {
    /*background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) );*/

    background: linear-gradient(109deg, rgba(255, 255, 255, 1) 0%, rgba(255, 245, 254, 1) 35%, rgba(251, 180, 240, 1) 100%);
    background-size: auto;
    margin: 0;

}

.text-center {
    text-align: center;
}

table,
th,
td {
    border: 2px solid;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--border-hotpink);

}

tr:hover {
    background-color: var(--bg-hover);
}

table {
    width: 50%
}

.card h5 {
    text-align: center;
}
.container-fluid {
    display: flex;
    justify-content: center;
}

.header-style {
    margin-left: 10px;
}

.related-content {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

.related-panel img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}


p {
    padding: 10px;
}


.card p {
    text-align: justify;
}

tr:nth-child(even) {
    background: linear-gradient(to right, rgb(238, 156, 167), rgb(255, 221, 225));
}

footer {
    background-color: var(--bg-pink);

    overflow: hidden;
}

@media screen and (min-width: 992px) {

    html {
        font-size: 16px;
    }


    .container {
        display: block;
        width: 992px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    main {
        padding: 0;
    }

    .related-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .related-content img{
        width: 250px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}